@tailwind base;
@tailwind components;
@tailwind utilities;


h1 {
  @apply text-3xl font-bold text-gray-800;
}

h2 {
  @apply text-2xl font-semibold text-gray-800;
}

h3 {
  @apply text-lg font-semibold;
}

hr {
  @apply my-1 border-gray-300 border mb-3;
}

button {
  @apply transition-all hover:bg-blue-800  px-8 py-2 rounded-3xl text-slate-100 font-semibold uppercase tracking-wide shadow-md;
}

input:not(.swal2-input)[type=text],input:not(.swal2-input)[type=password], input:not(.swal2-input)[type=email], input:not(.swal2-input)[type=number], input:not(.swal2-input)[type=date], input:not(.swal2-input)[type=time]  {
  @apply w-full border border-gray-300 rounded-md py-2 px-3 focus:outline-none focus:border-blue-500;
}

.card-option {
    @apply transition-all hover:bg-blue-800  px-8 py-2 rounded-3xl text-gray-800 hover:text-slate-100 font-semibold uppercase tracking-wide shadow-md;
}

.edit-button {
  @apply transition-all text-gray-800 hover:text-slate-100 hover:bg-green-800  px-4 py-2 rounded-s-3xl font-semibold uppercase tracking-wide shadow-md;
}

.delete-button {
  @apply transition-all text-gray-800 hover:text-slate-100 hover:bg-red-800  px-4 py-2 rounded-e-3xl font-semibold uppercase tracking-wide shadow-md;
}
